* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
padding: 0px 30px;
    
}

.boshlanish {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.boshlanish ul {
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box1 {
    width: 500px;
}
li{
    list-style: none;

}
.boshlanish button{
    width: 170px;
    height: 30px;
    border-radius: 10px;
    background-color: black;
    color: white;
}
.navigition{
    width: 100%;
    height: 450px;
     background: #316A33;
    margin-top: 30px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    justify-content: space-around;
}
.textlar{
    width: 400px;
    color: white;
}

.textlar h1{
    margin-top: 10px;
}

/* likelar */
.title{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    width: 87%;
    margin-left: 90px;
}

.boxlar h1{
    text-align: center;
}
.boxlar{
    margin-top: 100px;
}
.icon{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.iconlar1{
    width: 350px;
}

.iconlar1 img{
    margin-top: 20px;
    margin-left: 10px;
    
}
.rasm1{
    width: 130px;
    height: 90px;
    background-color: #316A33;
}

.link{
    margin-top: 20px;
}
.ortasi{
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.server{

    margin-left: 10px;
    margin-top: 20px;
    width: 320px;
    height: 300px;
}
.surat{

    width: 320px;
    height: 370px;
    background-color: rgb(198, 216, 232);
    margin-top: 50px;
}
hr{
    margin-top: 30px;
    width: 250px;
    height: 2px;
    margin-left: 60px;
    background-color: red;
}
.server button{
    width: 161px;
    background-color:  rgb(198, 216, 232) ;
    height: 40px;
    margin-top: 20px;
    margin-left: 23%;
    border: none;
    border-radius: 20px;
}

.surat img{
    margin-left: 10px;
}
.ortasi h3{
    text-align: center;
}

.dumaloq{
    width: 100%;
    margin-top: 150px;
    height: 550px;
    border: 1px solid black;
}
.rasmo img{
    width: 300px;
    margin-top: 50px;
}
.rasmo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.rasmo h4{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.dumaloq button{
    margin-top: 40px;
    margin-left: 76%;
    width: 180px;
    height: 40px;
    border: none;
    border-radius: 15px;
    background-color: #316A33;
    color: white;
}
.dumaloq h2{
    margin-top: 50px;
    margin-left: 70px;
}
.matnlar{
    width: 500px;
    
}
.qoravoy{
    width: 100%;
    margin-top: 150px;
    height: 450px;
    border: 1px solid black;
    display: flex;
    margin-top: 100px;
    align-items: center;
    justify-content: space-around;

}
.qoratoy img{
width: 400px;
}
.matnlar p{
    margin-top: 20px;
    font-size: 20px;
}